:root {
    --main-bg-color: #cecece;
    --main-text-color: #;
    --second-text-color: #ffffff;
    --second-bg-color: #65c1f0;
  }
  .map {
    height: 82vh;
  }
  .ol-layer {
    box-shadow: darkgray;
  }
  .logo_text {
    text-align: center;
    font-size: clamp(10px, 1.5vh, 22px);
    margin-top: 5%;
    color: white;
  }
  .brand {
    width: 7rem;
  }

  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  .second-text:hover {
      background-color: rgb(35, 35, 182) !important;
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  .linear_bg {
    background: linear-gradient(#07101b 0%, #11164b);
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #519afa,
      #c2d6f5,
      #cbe2f7,
      #d4e7f8,
      #ddeefa
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: #9ec3f7 !important;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  .flight-container {
    max-height: 210px;
    overflow-y: auto;
  }
  .collisions-container {
    max-height: 170px;
    overflow-y: auto;    
  }
  .flights {
    width: 100%;
    background: transparent;
  }
  .flights:hover {
    background: lightgray !important;
  }
  /*another-popop style*/
  .another-popup {
    position: fixed;
    top: auto;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    background: rgba(10, 10, 10, 0.8);
    transform: none !important;
    color: white;
    margin: 0;
    border-radius: 10px;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }
  .another-popup .leaflet-popup-tip-container {
    width: auto;
    height: auto;
  }
  .leaflet-popup-tip {
    display: none;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }